#システムの基本コマンド
# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
    fileflag=""
else # OS X `ls`
    colorflag="-G"
    fileflag="-O"
fi

alias ls='ls -Fh ${colorflag}'
alias ll='ls  -Fl ${colorflag}'
# List only directories
alias lsd='ls -l ${colorflag} | grep "^d"'

if ls --color > /dev/null 2>&1; then #GNU 'ls'
    alias lsal='ls -FAli --time-style=+%Y-%m-%d\ %H:%M:%S  ${colorflag} ${fileflag}'
else # OS X(BSD) ls
    alias lsal='ls -FAlTi ${colorflag} ${fileflag}'
fi

alias lsa='ls -FA ${colorflag}'
alias lsdl="ls -AFdl .*" #.で始まるすべてのもの（隠しファイルとディレクトリのみを表示）
alias lsll="lsal *(@D)" #シンボリックリンク(.で始まるシンボリックも含む)のみを表示
alias lsalt="lsal -t"
alias cp='cp -iv'
alias h='history -i'
alias a='alias'
alias w='where'
alias m='man'
alias disk='du -h -x -d 1'
alias hosts='vi /etc/hosts'
alias log='cd ~/system/nexlink-b/var/log/'
alias jobs='jobs -l'

#rmを実施する時に、Trashに移動する
if [ -f /usr/local/bin/trash ]
then
    alias rm='trash -r'
elif [ -f /usr/local/bin/rmtrash ]
then
    alias rm='rmtrash'
else
    alias rm='rm -iv'
fi

alias mv='mv -iv'
alias cl='clear'

#macvimがある場合に、viはmacvimを起動
if [ -f /Applications/MacVim.app/Contents/MacOS/Vim ]
then
    alias vi='env LANG=ja_JP.UTF-8 /Applications/MacVim.app/Contents/MacOS/Vim "$@"'
    alias vim='env LANG=ja_JP.UTF-8 /Applications/MacVim.app/Contents/MacOS/Vim "$@"'
else
    alias vi='vim'
fi

#alias sl= "ls -al | grep -- '->'"
#grepの色設定
alias grep='grep -E --color=auto'
alias zgrep='zgrep --color=auto'
alias egrep='egrep --color=auto'
alias coteditor='open -a Coteditor'
alias javac="javac -J-Dfile.encoding=UTF8"
alias 'ps?'='pgrep -l -f'
alias so="source"

#ruby,rails関連コマンド
alias be='bundle exec'
alias rc='rails c'
alias berc='bundle exec rails c'
alias bi='bundle install'
alias bl='bundle list'
alias rs='rails server'
alias bersp='bundle exec rails server Puma'
alias b='bundle'
alias puma='bundle exec rails server Puma'
alias foreman='bundle exec foreman start'

#cdに関するショートカット
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias dp="cd ~/Dropbox"
alias c="cd /c/Users/034180_427007"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"
alias d="cd ~/dotfiles"

if [ -d ~/projects/nexlink_cms ]
then
    alias n1="cd ~/projects/nexlink_cms"
elif [ -d /home/nexlink/tmp.nexlink-b ]
then
    alias n1="cd ~/tmp.nexlink-b"
fi

alias n2="cd ~/projects/nexlink2"
alias web="cd ~/Dropbox/web"
alias de="cd ~/web/rails/demo"
alias blog="cd ~/web/rails/blog"

#git関連
alias g="git"
alias pull='git pull'
alias push='git push'
alias pushn='git push -n' #git push --dry-runと同様
alias add='git add'
alias unstage='git reset HEAD'
alias status='git status'
alias branch='git branch -vv'
alias ls-remote='git ls-remote'
alias checkout='git checkout'
alias merge='git merge'
alias commmit='git commit'
alias reflog='git reflog'
alias stash='git stash'

alias fix='git commit --amend'
alias tag='git tag'


alias pl='git pull'
alias ph='git push'
alias pn='git push -n'
alias ad='git add'
alias us='git reset HEAD'
alias st="git status --ignore-submodules=dirty"
alias br='git branch -vv'
alias ba='git branch -vva'
alias lr='git ls-remote'
alias co='git checkout'
alias mg='git merge'
alias cm='git commit -m'
alias rf='git reflog'
alias ss='git stash'
alias df='git diff'
alias dc='git diff --cached'
alias lg='git log'
alias lgg="git log --graph --all --decorate --date=short --pretty=format:'%Cgreen%h %C(yellow)%cd %C(Magenta)%ar %Cblue%cn %Creset%s %C(Red)%d'"
alias lgg2="git log --graph --all --format=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset)  %C(bold white)--%an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative"
alias lgs='git log --stat' #変更されたファイル名も一緒に出す。
alias lgp='git log -p -g' # Generate patch(diffも一緒に出す)
alias lgr='git log -g' #--walk-reflogsと同じ結果(reflogの情報も表示)
alias gk="gitk"

alias bs="java -cp bsh-2.0b4.jar bsh.Interpreter"

#ssh接続関連
alias lb="ssh develop_lb01"
alias sshn1="ssh n1"

#ag関連
alias ag='ag  --stats --hidden -i'
alias ags='ag  --stats --hidden -s'
alias agh='ag --hidden'

# extract http://d.hatena.ne.jp/jeneshicc/20110215/1297778049
extract () {
    if [ -f $1 ]
        then
            case $1 in
                *.tar.bz2) tar xvjf $1 ;;
                *.tar.gz) tar xvzf $1 ;;
                *.tar.xz) tar xvJf $1 ;;
                *.bz2) bunzip2 $1 ;;
                *.rar) unrar x $1 ;;
                *.gz) gunzip $1 ;;
                *.tar) tar xvf $1 ;;
                *.tbz2) tar xvjf $1 ;;
                *.tgz) tar xvzf $1 ;;
                *.zip) unzip $1 ;;
                *.Z) uncompress $1 ;;
                *.7z) 7z x $1 ;;
                *.lzma) lzma -dv $1 ;;
                *.xz) xz -dv $1 ;;
                *) echo "don't know how to extract '$1'..." ;;
             esac
        else
            echo "'$1' is not a valid file!"
    fi
    }
alias ex='extract'

#日本語、英語のmanページを切り替えて表示させる
alias man='env LANG=C man'
alias jman='env LANG=ja_JP.UTF-8 man'

#suffix alias  -sを利用することで拡張子に応じたコマンドを実行してくれるようになる。
if alias -s > /dev/null 2>&1; then
alias -s txt='cat'
alias -s html='google-chrome'
#alias -s rb='ruby'
alias -s py='python'
alias -s hs='runhaskell'
#alias -s php='php -f'
alias -s {gz,tar,zip,rar,7z}='unarchive' # preztoのarchiveモジュールのコマンド(https://github.com/sorin-ionescu/prezto/tree/master/modules)
alias -s {gif,jpg,jpeg,png,bmp}='display'

function runcpp () {
    g++ -O2 $1
    shift
    ./a.out $@ 
}
alias -s {c,cpp}='runcpp'

function runjava () { 
    className=$1
    className=${className%.java}
    javac $1
    shift
    java $className $@
}
alias -s java='runjava'
fi

#vimで設定ファイルの編集と反映はまとめる実行
alias vz='vim ~/.zshrc && exec $SHELL'
alias va='vim ~/.aliases && exec $SHELL'
