.DS_Store
.*.swp
*.[oa]
*~
*.swo
.project
.idea/
nul
known_hosts
app/models/pdf/
.rbenv-version
mysql-connector*
dotfiles_back/

.my.cnf.extra
hosts.aws.honban
hosts.aws.kennsyou
hosts.back
hosts.kennsyou
node_modules/
