[mysql]
prompt="\u@\h[\d]\ \c> "
auto-rehash

# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M

# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin

# These are commonly set, remove the # and set as required.
# basedir = .....
# datadir = .....
# port = .....
# server_id = .....
# socket = .....

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M 


#HomebrewでMySQLをインストールした場合、MySQLのmy.cnfにsql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLESと設定されているため、collationやmigrat時に失敗するため、以下の内容を追加
#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
sql_mode=""


# InnoDB トランザクションがロール バックされる前に、ロックを待つ秒数でのタイムアウト。
# InnoDB は自動的にそれ自体のロック テーブル内でトランザクション デッドロックを検出し、
# トランザクションをロールバックします。InnoDB は LOCK TABLES ステートメントを利用してロック
# セットを通知します。デフォルトは50秒です。
innodb_lock_wait_timeout = 120

#query log
log=/var/log/mysql/query.log

#slow query log
slow_query_log=ON
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=0.5


[client]
user = root
password = admin
