[mysql]
prompt="\u@\h[\d]\ \c> "
auto-rehash

#HomebrewでMySQLをインストールした場合、MySQLのmy.cnfにsql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLESと設定されているため、collationやmigrat時に失敗するため、以下の内容を追加
[mysqld]
sql_mode=""

[client]
user = root
password = admin
