[mysql]
prompt="\u@\h[\d]\ \v\ \R:\m:\\s \c> "
auto-rehash # talbe名やカラム名などの自動補完(tabで自動補完)
show-warnings # warningsをデフォルトで表示させる
safe-updates # update/delete時に、キーをしていないと実行できないように制御(全件更新ができようされてしまう災害を防ぐため)

[client] # mysql monitorだけではなく、すべてのmysql clientアプリ共通の設定
user = root
password = admin


# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M

# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin

# These are commonly set, remove the # and set as required.
# basedir = .....
# datadir = .....
# port = .....
# server_id = .....
# socket = .....

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M 


#HomebrewでMySQLをインストールした場合、MySQLのmy.cnfにsql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLESと設定されているため、collationやmigrat時に失敗するため、以下の内容を追加
#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
sql_mode=""


# InnoDB トランザクションがロール バックされる前に、ロックを待つ秒数でのタイムアウト。
# InnoDB は自動的にそれ自体のロック テーブル内でトランザクション デッドロックを検出し、
# トランザクションをロールバックします。InnoDB は LOCK TABLES ステートメントを利用してロック
# セットを通知します。デフォルトは50秒です。
innodb_lock_wait_timeout = 120

# slow query logとgeneral-logをファイルとtable両方に出力される
log-output = TABLE,FILE

#query log(実行したすべてのクエリを記録するlog)
general-log = ON

#slow query log
slow_query_log = ON
long_query_time = 0.5

#バイナリログ有効化
log-bin = mysql-bin # 明示的にバイナリログファイルの接頭辞をmysql-binに指定(指定しない場合はホスト名が利用される)
binlog_format = MIXED # binlog_fomatをRBRとSBRをmixするフォマットを指定
sync_binlog = 1 # commitする度にdisk上のバイナリログファイルにflushする
expire_logs_days = 5 #バイナリログローテーション時に５日間前のバイナリログを自動削除し、バイナリログのindexファイルも更新してくれるように

[mysqld_safe]
